<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light justify-content-between">
        <h1 class="navbar-brand">Simple Airbnb</h1>
        <form class="form-inline d-flex align-items-center">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 mx-3" type="submit">Search</button>
          <button class="btn btn-outline-primary my-2 my-sm-0 ml-5" type="submit">Add</button>
        </form>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
